.jumbotron{
    background-color: yellow;
    color: #000;
}
footer{
    padding: 5% 5% 0 5%;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

a{
	color: black;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;

}
.btn-reserva{
	width: 100%;

}